.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .imgLeft {
    max-width: 40%;
}

.container .title {
    font-weight: 700;
    font-size: 2.8rem;
}

.container span {
    color: var(--primary);
}


 .container .about {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .about ul {
    width: 40%;
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
    gap: 2rem;
}

.container .about > ul > li{
    font-size: 1rem;
}



/* Tabs */

.containerTabs {
    width: 100%;
    margin-top: 2rem;
}

.containerTabs .TabList {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border: none;
}

.containerTabs .tab {
    font-weight: 700;
    border-radius: 5px;
    color: #000;
    background: #EDF2F8; 
    border: none;
    transition: .5s ease;
}

.container .imgLeft {
    min-width: 700px;
    min-height: 700px;
    max-width: 700px;
    max-height: 700px;
}

.containerTabs .tab:hover {
    transition: .5s ease;
    background: var(--primary);
    color: #fff;
}

/* Responsive */

@media (max-width: 768px) {
    
    .container .imgLeft {
        min-width: 400px;
    }

    .container .title {
        text-align: center;
        font-size: 2rem;
    }

    .TabPanel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .about {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container .about ul {
        margin-left: 2rem;
        width: 100%;
    }

    .container .imgLeft {
        width:100px;
        min-height: 0;
    }

}